<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /energie/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /energie/index.html [L]
</IfModule>
